@media screen and (max-width: 1180px){
    /*img*/

    .flexzinhoimg{
        flex-wrap: wrap;
        justify-content: center;
    }

    .flexzinhoimg img{
        margin: 2% 0;
    }

    /*pkmn iniciais*/

    .pkmn-iniciais{
        flex-wrap: wrap;
        width: 100%;
    }

    .pkmn-iniciais article{
        margin-bottom: 5%;
    }

    /*treinadores*/

    .flexzinho{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .flexzinho div{
        width: 100%;
    }

    .flexzinho table{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
    }

}

@media screen and (max-width: 720px){

    /*header*/
    header{
        flex-wrap: wrap;
        justify-content: center;
        font-size: 90%;
    }

    .titulo-header{
        width: 80%;
        justify-content: center;
    }

    header nav{
        width: 100%;
    }

    header ul{
        justify-content: center;
        margin-bottom: 3%;
    }

    /*texto*/

    .inicio-da-pag h1{
        font-size: 1.5em;
    }
    main h1{
        font-size: 2em;
    }
    p{
        font-size: 0.9em;
    }

    /*img*/

    .img-tamanho1{
        width: 50%;
    }

    .img-tamanho2{
        width: 60%;
    }

    .img-tamanho3{
        width: 80%;
    }

    /* pkmn iniciais */

    .pkmn-iniciais article{
        width: 100%;
    }

    /* treinadores */

    .treinadores{
        width: 100%;
        margin-bottom: 25%;
    }

    .treinadores article{
        width: 100%;
    }

    .flexzinho table{
        font-size: 0.6em;
    }

    .atalho ul{
        position: fixed;
        bottom: 0;
        background-color: rgb(255, 255, 255);
        margin-bottom: 0%;
        font-size: 0.7em;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        align-content: space-between;
    }

    .atalho li{
        width: calc(100% / 4);
        margin-bottom: 5%;
    }

}

@media screen and (min-width: 721px) and (max-width: 1180px){
    /*img*/

    .img-tamanho1{
        width: 30%;
    }

    .img-tamanho2{
        width: 40%;
    }

    .img-tamanho3{
        width: 60%;
    }

    /*pkmn iniciais*/

    .pkmn-iniciais{
        justify-content: space-around;
    }

    .pkmn-iniciais article{
        width: 48%;
    }

    /*treinadores*/

    .treinadores{
        width: 90%;
    }

    /*tabela*/

    table{
        font-size: 0.8em;
    }
}

@media screen and (max-height: 610px) and (min-width: 721px){
    .atalho ul{
        position: fixed;
        bottom: 0;
        background-color: rgb(255, 255, 255);
        margin-bottom: 0%;
        font-size: 0.7em;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        align-content: space-between;
        flex-direction: row;
    }

    main{
        display: block;
    }
}